.navbar-custom {
  background-color: #000000;
  border-color: #000000;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#1a1a1a), to(#000000));
  background-image: -webkit-linear-gradient(top, #1a1a1a, 0%, #000000, 100%);
  background-image: -moz-linear-gradient(top, #1a1a1a 0%, #000000 100%);
  background-image: linear-gradient(to bottom, #1a1a1a 0%, #000000 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1a1a1a', endColorstr='#ff000000', GradientType=0);
}
.navbar-custom .navbar-brand {
  color: #ffffff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #8c8c8c;
}
.navbar-custom .navbar-nav > li > a {
  color: #8c8c8c;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
  border-bottom-
  text-decoration: underline;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #000000;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#000000), to(#1a1a1a));
  background-image: -webkit-linear-gradient(top, #000000, 0%, #1a1a1a, 100%);
  background-image: -moz-linear-gradient(top, #000000 0%, #1a1a1a 100%);
  background-image: linear-gradient(to bottom, #000000 0%, #1a1a1a 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff000000', endColorstr='#ff1a1a1a', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #000000;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #000000;
  color: #ffffff;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #8c8c8c;
  border-bottom-color: #8c8c8c;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #8c8c8c;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #000000;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #8c8c8c;
}
.navbar-custom .navbar-link:hover {
  color: #ffffff;
}
body {
	background-color: #262626;
}

#streaminfo
{
	position: fixed;
	bottom: 0;
	width:100%;
	text-align: center;
}

.wrapper {
	position: relative;
	width: 70%;
	margin: 0 auto;
}

.sixteen-by-nine-aspect-ratio { padding-bottom: 56.25% }

#player
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	/*width:854px;
	height:480px;*/
	margin:0 auto;
	background-color: #000;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

#backbutton
{
	color:#FFFFFF;
	text-decoration:none;
	font-size:20px;
	position: fixed;
	margin:5px;
	width:100%;
	text-align: center;
}

#backbutton:hover 
{
	color:#FFFFFF;
	text-decoration:none;
	cursor:pointer;
	font-size:20px;
	width:100%;
	text-align: center;
}
