html, body
{
	background-color:#333333;
}

h1
{
	color:#14181C;
	text-align:center;
}

a
{
	color:#FFFFFF;
	text-decoration:none;
	font-size:20px;
}

a:hover 
{
	color:#FFFFFF;
	text-decoration:none; 
	cursor:pointer;
	font-size:20px;
}
